## Ignore everything!
/*

## Except what I want to keep:
# Python source files.
!config.py
!main.py
!plotting.py
!routing.py
!utils.py

# Output directory and its contents.
!output/
!output/**

# Configuration files (any location).
!*.ini
!*/**/*.ini

# Project metadata.
!.gitignore
!LICENSE
!README.md